@{
    ViewBag.Title = "Note";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div style="margin:20px">

    <div class="bs-example" data-example-id="contextual-panels">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">当前系统版本V18.08</h3>
            </div>
            <div class="panel-body">

                <br />
                <br />
                <br />
                copy rights @@   音乐管理后台 all rights reserved

            </div>
        </div>
    </div>

</div>